@media screen and (max-width: 563px) {

    .card p:first-child{
        font-size: 2.2em;
    }

    .quote p{
        font-size: 1.7em;
    }

    .author{
        font-size: 1.2em;
    }

    .icon i{
        margin: 10px 20px;
        font-size: 20px;
    }
}